@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@layer components{
    .intent { 
        @apply text-center font-semibold text-xl mt-3 text-[#3A3A3A]}  
}
@layer components{
    .icon{
        @apply flex flex-row-reverse items-center gap-1
    }
}

.swiper-pagination-bullet-active {
    background:#B88E2F !important;
}
/* .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: var(--swiper-pagination-bottom, -20px) ;
    position: absolute ;
    
} */